@import "tailwindcss";

:root {
  --background: #fbeaff;
  --foreground: #171717;
  --space-default: 1rem;
  --primary-color: #1f2937;
  --size-safe:1332px
}

@theme inline {
  --color-background: var(--background);
  --spacing-default: var(--space-default);
  --color-primary: var(--primary-color);
  --spacing-safe: var(--size-safe);
}

main{
  max-width: 1920px;
  margin: 0 auto;
}

body {
  background: var(--background);
  max-width: 1920px;
  margin: 0 auto;
}
.slick-arrow{
  background: var( --primary-color) !important;
  border-radius: 100%;
}
.slick-list {margin: 0 -8px;}
.slick-slide>div {padding: 0 8px;}

.slick-dots{
  bottom: -50px !important;
}